<form action="/add-entrada" method="POST">
<p>Data</p>
<input type="date" name="data">
<p>Empresa</p>
<input type="text" name="empresa">
<p>Produto</p>
<input type="text" name="produto">
<p>Nota Fiscal</p>
<input type="text" name="notafiscal">
<p>Transportadora</p>
<input type="text" name="transportadora">
<p>Caixa</p>
<input type="text" name="caixas">
<p>Hora</p>
<input type="time" name="hora">
<br><br>
<button type="submit">Salvar</button>
</form>